.env
**/__pycache__/
logs/
tinker_cookbook/rl/envs/inspect/ae
fig.html
rollouts/*
logs/
tinker_cookbook/rl/envs/inspect/ae
fig.html
rollouts/*
data/apps_data.json
data/taco.json
tmp/*
data/synthetic-env-final-0.jsonl