.env
**/__pycache__/
logs/
tinker_cookbook/rl/envs/inspect/ae
fig.html
rollouts/*
logs/
tinker_cookbook/rl/envs/inspect/ae
fig.html
rollouts/*
data/apps_data.json
tmp/*
inspect-logs/*
joey-full-fig.html