.env
**/__pycache__/
logs/
tinker_cookbook/rl/envs/inspect/ae
fig.html
rollouts/*
logs/
tinker_cookbook/rl/envs/inspect/ae
fig.html
rollouts/*
data/apps_data.json
tmp/*
inspect-logs/*
joey-full-fig.html
data/taco.json
data/synthetic-env-final-0.jsonl
rollouts_temp/*
eval_results/*
.cache/*
**/.claude
data/final-harder-more.jsonl
uv.toml
data/final-hard.jsonl
data/final-easy.json
data/ae-data-5-10-15.json
data/ae-data-5.json
data/ae-data-10.json
data/ae-data-15.json
data/final-harder-merge.jsonl
**/__pycache__/*
